<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/member.css">
    <title>Document</title>
</head>
<body>
    <div class="member_home"  th:each="user : ${user}">
        <h1>Bチーム　ビザ期限管理システム</h1>
        <div class="username">
            <div class="img">
                <img th:src="@{/photos/{avatar}(avatar=${user.avatar})}" alt="AVATAR">
                <a href="/member/photos"> 写真変更</a>
            </div>
            <div class="show_user">
                    <table>
                        <tr>
                            <th>ユーザー名</th>
                            <td th:text="${user.username}"></td>
                        </tr>
                        <tr>
                            <th>在留カード番号</th>
                            <td th:text="${user.number}"></td>
                        </tr>
                        <tr>
                            <th>名前</th>
                            <td th:text="${user.name}"></td>
                        </tr>
                        <tr>
                            <th>生年月日</th>
                            <td th:text="${user.birthday}"></td>
                        </tr>
                        <tr>
                            <th>性別・国籍</th>
                            <td><span th:text="${user.sex}"></span>・<span th:text="${user.country}"></span></td>
                        </tr>
                        <tr>
                            <th>住所</th>
                            <td th:text="${user.address}"></td>
                        </tr>
                        <tr>
                            <th>ビザ期限</th>
                            <td th:text="${user.visadate}"></td>
                        </tr>
                        <tr>
                            <th>残り日数</th>
                             <td th:text="${user.note}"></td>
                        </tr>
                        <tr>
                            <th>在留資格</th>
                            <td th:text="${user.visatype}"></td>
                        </tr>
                        <tr>
                            
                        </tr>
                        <tr>
                            <th colspan="2">
                            	<a href="/mypage/changepass">パスワード変更</a>
                                <a href="/mypage/update">アップデート</a>
                                <a href="/mypage/delete">削除</a>
                                <a href="/logout">ログアウト</a>
                            </th>
                        </tr>
                    </table>
            </div>
        </div>
            
    </div>
</body>
</html>